{% extends "core/base.html" %}

{% block content %}
<h2 class="profile-header">Ваш профиль</h2>
<div class="profile-container">
    <form method="post" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        <div class="form-fields">
            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div style="margin-bottom: 15px;"></div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}
